.form {
  display: inline;
  margin: 15px;
  padding: 14px;
  width: 40%;
  background-color: whitesmoke;
  font-family: sans-serif;
  text-align: center;
  float: right;
}

.form .header {
  margin-bottom: 4px;
  padding: 10px 0;
  width: 100%;
  font-size: 20px;
  color: white;
  background: darkcyan;
  text-align: center;
}

.form form {
  margin: 0 auto;
}

.form form .input-group {
  text-align: left;
  margin: 18px 0px;
}

.form form .input-group .input-label {
  overflow: hidden;
  display: inline-block;
}

.form form .input-group .input-label h1{
  overflow: hidden;
  display: inline-block;
  margin: 4px 0px 0px 0px;
  font-size: 13px;
  float: left;
}

.form input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 75%;
  height: 30px;
  border: 1px solid #ccc;
  margin: -4px 0px;
  padding-left: 5px;
  color: black;
  font: 95% Arial, Helvetica, sans-serif;
  float: right;
}

.form button {
  display: block;
  margin: -4px 0px;
  padding: 4px 8px 4px 8px;
  font: 85% Arial, Helvetica, sans-serif;
  color: white;
  background-color: darkcyan;
  border: 1px solid darkcyan;
  float: right;
}

.form button:hover {
  background-color: darkslategray;
  border: 1px solid darkslategray;

}
